<%- include('../partials/header') %>
<body>
    <br>
    <h1>Joergen's Jellies</h1>
    <br>
    <hr>
  
    
  
    <section>
      <h3>Your Cart</h3>
        <img src="../images/catPic.jpeg" id="show-image">
          <h4>the Jaguarundi</h4>
          <div id="bld">Description</div>
          <div>the spiciest of our line up, three types of peppers etc</div>
          <div id="bld">Price</div>
          <div>$10.00</div>
          <button onclick="confetti.start()">Confetti</button>
         
          <form method="GET" action="/">
            <button type="submit">Buy Now</button>
          </form>
          <form method="GET" action="/products">
            <button type="submit">Remove from Cart</button>
          </form>
          <form method="GET" action="/carts/reviews">
            <button type="submit">Add Review</button>
          </form>
      </section>
  
      <section>
          <% if (user.review.length) { %>
            <table>
              <thead>
                <tr>
                  <th>Review</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <% var total = 0 %>
                <% user.review.forEach(function(r, idx) { %>
                  <% total += r.rating %>
                  <tr>
                    <td><%= r.content %></td>
                    <td><%= r.rating %></td>
                    
                    <form id="yeet" action="/carts/reviews/<%= idx %>/<%= user.googleId %>?_method=DELETE" method="POST">
                      <td><button type="submit">Delete</button></td>
                    </form>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          <% } else { %>
            <h5>No Reviews Yet</h5>
          <% } %>
      </section> 

  </body>
</html>