<%- include('../partials/header') %>
<body>
    <br>
    <h1>Joergen's Jellies</h1>
    <br>
    <hr>
    <br>
<!-- Product page -->
<%= console.log(product) %>
<section id="show-product" >
        <img src="../images/catPic.jpeg" id="show-image">
          <div><%= product.name %> </div>
          <div>Description</div>
          <div><%= product.description %></div>
          <div>Price</div>
          <div><%= product.price %></div>
          <form method="GET" action="/<%= product.id %>/cart">
              <button type="submit">Add to Cart</button>
          </form>
      </section>
      <section id="show-product" >
        <img src="../images/catPic.jpeg" id="show-image">
        <div><%= product.name %></div>
        <div>Description</div>
        <div><%= product.description %></div>
        <div>Price</div>
        <div><%= product.price %></div>
        <form method="GET" action="/<%=product.id%>/cart">
            <button type="submit">Add to Cart</button>
        </form>
    </section>
    <section id="show-product" >
      <img src="../images/catPic.jpeg" id="show-image">
      <div><%= product.name %></div>
      <div>Description</div>
      <div><%= product.description %></div>
      <div>Price</div>
      <div><%= product.price %></div>
      <form method="GET" action="/<%= product.id%>/cart">
          <button type="submit">Add to Cart</button>
      </form>
  </section>
  <section id="show-product" >
    <img src="../images/catPic.jpeg" id="show-image">
    <div><%= product.name %></div>
    <div>Description</div>
    <div><%= product.description %></div>
    <div>Price</div>
    <div><%= product.price %></div>
    <form method="GET" action="/ <%= product.id%> /cart">
        <button type="submit">Add to Cart</button>
    </form>
</section>
</body>
</html>